<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="generatedCsrPath" value="generated-csr-{DateTime}.csr"/>
    <add key="generatedPrivateKeyPath" value="generated-private-key-{DateTime}.key"/>
    <add key="certPath" value="..\..\..\Data\Certificates\cert.pem"/>
    <add key="privateKeyPath" value="..\..\..\Data\Certificates\ec-secp256k1-priv-key.pem"/>
    <add key="pihPath" value="..\..\..\Data\PIH\pih.txt"/>
    <add key="signedPath" value="SignedInvoice-{DateTime}.xml"/>
    <add key="jsonPath" value="Invoice-{DateTime}.json"/>
  </appSettings>
</configuration>